.header {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

#text {
    text-decoration: underline;
}

.name h1 {
    display: flex;
    justify-content: space-around;
}

.menu_site {
    margin: 0 auto;
    width: 500px;
    height: 400px;
}

.tupe {
    display: flex;
    justify-content: space-between;
}

.options p {
    float: right;

}

.people h3 {
    text-align: center;
}

.face {
    display: flex;
    margin: 0 auto;
    width: 700px;
    height: 300px;
    justify-content: space-between;
}

.projects h3 {
    text-align: center;
}

.dell {
    display: flex;
    margin: 0 auto;
    width: 700px;
    height: 300px;
    justify-content: space-between;
}

.movie {
    display: flex;
    justify-content: center;
}
