@media (max-width: 1284px) {

}

.header {
    background: url("../src/images/1 (1).png");
    height: 1100px;
    width: 1920px;
}

.cap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1800px;
}

.logo {
    margin-left: 370px;
}

.logo, .menu, .socialLinks {
    margin-top: 40px;
}

.login {
    margin-top: 30px;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    background-color: #818181;
}

.text_login {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fefefe;
    padding: 9px 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 12px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu a {
    color: black;
}

.menu_site {
    margin: 0 auto;
    width: 767px;
    margin-top: 280px;
}

.menu_site1 {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.menu_site1 span {
    color: #007ab4;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#sapdropdownMenuButton, #moduledropdownMenuButton, #tupedropdownMenuButton, #startButton {
    height: 40px;
    color: #007ab4;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#sapdropdownMenuButton {
    width: 166px
}


#moduledropdownMenuButton {
    width: 252px
}

#tupedropdownMenuButton, #startButton {
    width: 148px
}

.menu_site p {
    width: 400px;
    height: 51px;
    color: #ffffff;
    font-family: Lato;
    font-size: 53px;
    font-weight: 700;
}

.options h5 {
    width: 99px;
    height: 14px;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 2px;
}

.menu_options {
    margin-top: 30px;
}

.dropup {
    margin-top: 6px;
}

.dropup span {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

#anability, #mySkill, #qualifications, #experience {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    width: 767px;
    height: 56px;
}

.menu_options img {
    margin-top: 19px;
    float: right;
}

.people {
    width: 1920px;
}

.people p {
    margin: 0 auto;
    margin-top: 130px;
    width: 814px;
    height: 28px;
    color: #303030;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
}

.face {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    margin-top: 87px;
    justify-content: space-between;
}

.face1 {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.face1 .name {
    width: 104px;
    height: 41px;
    color: #303030;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font-family: "Lato - Bold";
    font-weight: 700;
}

.face1 .name1 {
    color: #666666;
    font-family: "Lato - Regular";
    font-weight: 400;
}

.face1 .name2 {
    width: 156px;
    height: 113px;
    color: #666666;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.projects {
    width: 1920px;
}

.projects p {
    margin: 0 auto;
    margin-top: 145px;
    width: 692px;
    height: 28px;
    color: #303030;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
}

.dell {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    margin-top: 100px;
    justify-content: space-between;
}

.dell_text {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.d {
    width: 191px;
    height: 14px;
    color: #303030;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.d1 {
    width: 127px;
    height: 14px;
    color: #666666;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
}

.d2 {
    width: 151px;
    height: 56px;
    color: #666666;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 11px;
}

.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 143px;
    width: 1920px;
    height: 999px;
    background: url('../src/images/Capa_1.png');
}

.about {
    margin: 0 auto;
    width: 965px;
    text-align: center;
    margin-top: 91px;
}

.aboutWidht {
    width: 1920px;
}

.aboutUs {
    width: 125px;
    height: 23px;
    color: #303030;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
}

.aboutUs1 {
    margin-top: 31px;
    width: 445px;
    height: 20px;
    color: #303030;
    font-family: Lato;
    font-size: 21px;
    font-weight: 700;
}

.aboutUs2 {
    margin-top: 30px;
    width: 965px;
    height: 135px;
    color: #303030;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.for {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1030px;
    margin-top: 46px;
}

.img {
    display: flex;
    justify-content: center;
}

.img_text {
    margin-top: 16px;
    width: 220px;
    height: 14px;
    color: #303030;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

.tree_img {
    width: 1920px;
    height: 613px;
    margin: 0 auto;
    margin-top: 82px;
    background: url('../src/images/Layer_600.png');
}

.tree1 {
    margin: 0 auto;
    width: 1920px;
    width: 800px;
    text-align: center;
    padding-top: 79px;
    margin-bottom: 17px;
    background: url('../src/images/Layer_600.png');
}

.tree_text {
    width: 868px;
    height: 46px;
    color: #303030;
    font-family: Lato;
    font-size: 21px;
    font-weight: 700;
}

.icon1, .icon2, .icon3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 45px;
    width: 871px;
    height: 99px;
    border-radius: 20px;
    border: 1px solid #dddddd;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
    opacity: 0.9;
    margin-top: 20px;
}

.text_icon {
    width: 707px;
    height: 18px;
    color: #303030;
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 58px;
}

.tree2 {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 800px;
    margin-bottom: 110px;
}

.faq {
    margin: 0 auto;
    text-align: center;
    width: 1920px;
    padding-top: 80px;
    background: url('../src/images/Layer_3.png');
}

.text_faq {
    width: 60px;
    height: 26px;
    color: #ffffff;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_faq1 {
    width: 563px;
    height: 16px;
    color: #fffefe;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
}

.faq1 {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1180px;
    margin-top: 35px;
}

.text_faq_left {
    width: 600px;
    height: 245px;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 225px;
    text-align: left;
}

.text_faq_rigth {
    width: 570px;
}

.faq_icon {
    margin-bottom: 15px;
}

#onetextbutton, #twotextbutton, #treetextbutton {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    width: 570px
}



.contacts {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    width: 1920px;
    margin-top: 75px;
}

.message .text1 {
    width: 161px;
    height: 24px;
    color: #333333;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
}

.message .text2 {
    width: 133px;
    height: 13px;
    color: #666666;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
}

.message .text3 {
    width: 506px;
    height: 17px;
    color: #666666;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.email {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.email .text4 {
    width: 106px;
    height: 110px;
    color: #666666;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.table {
    margin-top: 51px;
}

.message .text5 {
    width: 83px;
    height: 15px;
    color: #666666;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

.table .name {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    width: 570px;
}

.name .form-control {
    width: 250px;
}

.other .form-control {
    width: 570px;
    margin-top: 15px;
}

.form-group1 .form-control {
    width: 570px;
    height: 113px;
    margin-bottom: 42px;
    margin-top: 30px;
}

.map {
    background: url('../src/images/map.png');
    width: 570px;
    height: 692px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 32px;
}

.chat {
    background: url('../src/images/chat.png');
    width: 270px;
    height: 387px;
    margin-top: 269px;
    margin-right: 76px;
    margin-left: 27px;
}

.footer {
    margin: 0 auto;
    width: 1920px;
    background: url("../src/images/footer (1).png");
    height: 580px;
}

.footer_text {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 200px;
    width: 1171px;
}

.footer_text1 {
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_text2 {
    width: 263px;
    height: 110px;
    color: #fffefe;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
}

.footer_text3 {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 30px;
    color: #ffffff;
}

.footer_text3 a {
    color: #ffffff;
}

.footer_text5 {
    width: 218px;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.columns {
    width: 272px;
}

.columns .email {
    margin-top: 25px;
    margin-bottom: 30px;
}

.footer2 {
    display: flex;
    justify-content: space-between;
}

.go {
    margin-left: 380px;
    margin-top: 200px;
}

.footer1 {
    color: #9a9a9a;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
}
